// pagina-inicio.page.scss

.pagina-inicio-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  ion-button {
    background: primary ; 
    color: #fff; 
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%; 
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto;
    height: 20px;
  }