<!-- pagina-inicio.page.html -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido a Te Llevo App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
  <h1 style="text-align:center">Bienvenido Estudiante</h1>
  <h1>{{user}}</h1>

  <ion-button [routerLink]="['/auto']">Conducir con Te Llevo</ion-button>
  <br>
  <ion-button [routerLink]="['/noauto']">Viajar con Te Llevo</ion-button>
  <br>
  <ion-button (click)="cerrar()">Cerrar Sesión</ion-button>
</ion-content>


