ion-content {
    background: linear-gradient(to bottom, #3498db, #1abc9c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
 
  ion-card {
    max-width: 400px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  
 
  ion-button {
    background: primary ; 
    color: #fff; 
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%; 
    max-width: 200px; 
    margin-left: auto;
    margin-right: auto;
    height: 20px;
  }
  
  ion-title {
    text-align: left;
  }

  ion-header {
    margin-left: auto;
  }

  .ingreso-usuario-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  ion-footer {
    margin-left: auto;
  }